<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>deleteproServlet</servlet-name>
        <servlet-class>controller.deleteproServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecusServlet</servlet-name>
        <servlet-class>controller.deletecusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateproServlet</servlet-name>
        <servlet-class>controller.updateproServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecusServlet</servlet-name>
        <servlet-class>controller.updatecusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertproServlet</servlet-name>
        <servlet-class>controller.insertproServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertcusServlet</servlet-name>
        <servlet-class>controller.insertcusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homecontrolServlet</servlet-name>
        <servlet-class>controller.homecontrolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginadminServlet</servlet-name>
        <servlet-class>controller.loginadminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocar</servlet-name>
        <servlet-class>controller.addtocar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteproServlet</servlet-name>
        <url-pattern>/deletepro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecusServlet</servlet-name>
        <url-pattern>/deletecus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateproServlet</servlet-name>
        <url-pattern>/updatepro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecusServlet</servlet-name>
        <url-pattern>/updatecus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertproServlet</servlet-name>
        <url-pattern>/insertpro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertcusServlet</servlet-name>
        <url-pattern>/insertcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homecontrolServlet</servlet-name>
        <url-pattern>/homecontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginadminServlet</servlet-name>
        <url-pattern>/loginadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocar</servlet-name>
        <url-pattern>/addtocar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>


